<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">
  <label for="name">Name: </label>
<p><input type=:"text" id="name" name="name"></p>
  <label for="email">Email: </label>
<p><input type="text" id="email" name="email"></p>
  <label for="password">Password: </label>
<p><input type="text" id="password" name="password"></p>
<input type="submit" value="Sign Up">
</form>


